/* Base Color */
.theme-base-ag .sidebar {
  background-color: #D32F2F;
}
.theme-base-ag .content a,
.theme-base-ag .related-posts li a:hover {
  color: #D32F2F;
}

/* Base Customizations */
.content {
  padding-top:    2rem;
  padding-bottom: 2rem;
}

/* Avatar */

@media (min-width: 48em) {
  #myface {
      background-image: url(../images/avatar.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      border: 4px solid;
      border-color: #ffffff;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin: auto;
      vertical-align: middle;
  }
}

/* Social icons */

.icon svg {
    display: inline-block;
    width: 38px;
    height: 38px;
    vertical-align: middle;
}

.icon path{
        fill: #ffffff;
}

/* Lists */ 
.social-media-list {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.5;
    -webkit-padding-start: 0px;
}


.social-media-list li{
        display:inline;
}

.social-media-list a:hover{
  text-decoration: none;
}


.media-line {
  height: 50px;
  width: wrap-content;
  text-align: center;
}

/* Sidebar position */ 

.sidebar-sticky {
  bottom: auto;
  top: 50%;
}

@media (min-width: 48em) {
  .sidebar-sticky {
    margin-top: -50%;
  }
}

/* Code blocks */

.highlight .lineno { 
  color: #ccc;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc; 
}
.highlighter-rouge > pre { 
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal; 
}
.highlight > pre { 
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal; 
}
